doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    form(action='/search' method = 'GET')
      input(type='text' placeholder='Search...' name= 'search')
      button(type='submit')
