doctype html
html
  head
    title= title
    meta(name='google-site-verification' content='8qN7zgeWJPlioVr_3EbyKzvu1xWkSBCgO7QhvShYnPY')
  body
    form(action='/search' method = 'GET')
      input(type='text' placeholder='Search...' name= 'search')
      button(type='submit')
  block content
